body {
  background: url(../pictures/yuriy-kovalev-nN1HSDtKdlw-unsplash.png), linear-gradient(hsl(350, 100%, 98%), #c9e7ff);
  font-family: sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  color: #2c4e73;
}

#div1 {
  background-color: rgb(228, 243, 255);
  width: 90%;
  max-width: 600px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
}

.div2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  background-color: #e4f3ff;
  width: 90%;
  max-width: 700px;
  border: 3px solid black;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.div2>section.icons {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
}

.div2>section.icons {
  margin-top: 12px;
  margin-bottom: 12px;
}

.div2>section {
  word-wrap: break-word;
}

ul {
  display: block;
  list-style: none;
  padding-inline-start: 0px;
}

li {
  margin: 1em 0;
}

li:after {
  display: block;
}

li:hover:after {
  transform: scaleX(1);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  background-color: rgb(228, 243, 255);
  width: 90%;
  max-width: 700px;
  border: 3px solid black;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.button {
  background-color: #e4f3ff;
  border: none;
  color: #2c4e73;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 3px solid black;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  max-width: 100px;
}

@media (min-width: 40em) {
  body {
    grid-template-columns: 12em 1fr;
    grid-template-rows: auto 1fr auto;
  }

  header {
    grid-column: span 2;
  }

  nav {
    grid-row: span 2;
  }
}

@media (min-width: 768px) {
  .div1 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 20px;
  }

  .div2,
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}


.todo-topics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studies-deadlines {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studies-files {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.studies-documentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: 20px auto;
  max-width: 500px;
  border-radius: 5px;
  background-color: #e4f3ff;
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fbfbfb;
}

input[type="submit"] {
  background-color: #216477;
  color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #216477;
}


ul[class="task.id"] {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

ul[class="task.id"] li {
  padding: 5px;
  background-color: #f1f1f1;
  margin-bottom: 5px;
  border-radius: 10px;
}

ul[class="task.id"] li a {
  color: #333;
  text-decoration: none;
}

ul[class="task.id"] li a:hover {
  color: #000;
  text-decoration: underline;
}

ul[class="task.id"] li a:after {
  display: block;
}

ul[class="task.id"] li a:hover:after {
  transform: scaleX(1);
}


.form-group {
  display: inline-block;
  text-align: center;
}

.form-group button {
  background-color: #216477;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
}


.popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  word-wrap: break-word;
}

.popup {
  position: absolute;
  display: none;
  z-index: 9999;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  max-width: 500px;
}


.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-list li {
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
  background-color: #e4f3ff;
}


#task-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #216477;
  border-radius: 20px;
  padding: 20px;
  z-index: 9999;
}

#task-popup .title {
  font-weight: bold;
  margin-bottom: 10px;
}

#task-popup .description {
  margin-bottom: 10px;
}


p {
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}


.edit-button {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}


  a,
  button {
    color: #216477;
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #15424e;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }

  a:hover,
  button:hover {
    background-color: #216477;
    color: #fff;
    border-color: #15424e;
  }







  .index-page a,
  .index-page button {
    color: #216477;
    text-decoration: none;
    font-weight: normal;
    background-color: #fff;
    border: 2px solid #15424e;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    line-height: 3;
    cursor: pointer;
  }

  .index-page a:hover,
  .index-page button:hover {
    background-color: #216477;
    color: #fff;
    border-color: #15424e;
  }