{% extends 'base.html'%}

{% block title %}Viola's private To Do-List{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
  <h1>All Tasks</h1>
  <a href="{{ url_for('tasks_aka_cookies.new_task') }}" class="button" style="margin-bottom:10px;">New Task</a>
  <ul class="task.id">
    {% for task in tasks %}
      <li>
        <a href="/task/{{ task.id }}">{{ task.title }}</a>
        <div class="form-group">
          <form action="/task/{{ task.id }}/edit" method="get">
            <button>Edit</button>
          </form>
        </div>
        <div class="form-group">
          <form action="/tasks/{{ task.id }}/delete" method="POST">
            <input type="hidden" name="_method" value="DELETE">
           <button>Delete</button>
          </form>
        </div>
      </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('simple_pages.index') }}" class="button">Main Page</a>
{% endblock %}
