{% extends 'base.html'%}

{% block title %}Viola's private To Do-List{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>

<header>
    <h1>What secrets do you want to tell me?</h1>
    <h3>I will try to organise your chaos :)</h3>
</header>
<h3>New Task</h3>
<form action="{{ url_for('simple_pages.private') }}" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required>
    <br>
    <label for="description">Description:</label>
    <textarea name="description" id="description" required></textarea>
    <br>
    <input type="submit" value="Create Task">
</form>

<body>
    <h1>All Tasks</h1>
    <ul>
        {% for task in tasks %}
        <li><a href="/task/{{ task.id }}">{{ task.title }}</a></li>
        {% endfor %}
    </ul>

    </div>
    <a href="{{ url_for('simple_pages.index') }}" class="button">main page</a>
</body>

</html>
{% endblock %}