{% extends 'base.html'%}

{% block title %}Viola's private To Do-List{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
  <head>
    <title>{{ task.title }}</title>
  </head>
  <body>
    <h1>{{ task.title }}</h1>
    <p>{{ task.description }}</p>
    <p>Due: {{ task.whendue }}</p>
    {% if task.completed %}
      <p>Completed</p>
    {% else %}
      <p>Incomplete</p>
    {% endif %}
    {% if task.category %}
      <p>Category: {{ task.category.name }}</p>
    {% endif %}
    <div class="edit-button">
      <a href="{{ url_for('tasks_aka_cookies.edit_task', id=task.id) }}">Edit</a>
      <form action="{{ url_for('tasks_aka_cookies.delete_task', id=task.id) }}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
      </form>
    </div>
    {% if task %}
        {% if task.has_prev %}
            <a href="{{ url_for('action.task_list', page=tasks.prev_num) }}">Previous</a>
        {% endif %}
    {% endif %}
     
    {% if task and task.has_next %}
        <a href="{{ url_for('action.task_list', page=tasks.next_num) }}">Next</a>
    {% endif %}
  </body>

  {%endblock%} 
